<%- include('partials/head') %>
<%- include('partials/flash') %>

  <% for (let level of levelCache) { %>
    <div class="level">
      <section id="level-top">
        <img class="style-image" src="<%= styleImages[level.style] %>" alt="level.style">
        <%= level.level_name %>
      </section>
      <section id="thumb-likes-feet">
        <div class="thumb-and-date">
          <div class="thumbnail">[THUMBNAIL]</div>
          <div class="upload-date">
            <span><%= level.upload_date_date %></span>
            <span><%= level.upload_date_time %></span>
          </div>
        </div>
        <div class="likes-feet-tags">
          <div class="likes-feet fat-font">
              <img src="assets/smm2_heart-cropped.svg" alt="Likes">
              <%= level.likes %>
              <img class="p-l" src="assets/smm2_feet-cropped.svg" alt="Footprints">
              <%= level.footprints %>
          </div>
          <div class="tags">
            <% if (level.tag1) { %>
              <img class="tag-svg p-l" src="assets/smm2_tag-cropped.svg" alt="Tag2">
              <%= level.tag1 %>
            <% } %>
              <% if (level.tag2) { %>
                <img class="tag-svg p-l" src="assets/smm2_tag-cropped.svg" alt="Tag2">
                <%= level.tag2 %>
              <% } %>
          </div>
        </div>
      </section>
      <section id="expandable" class="hide">
        <div class="expanded-top-grid">
          <div class="description etg-item"><%= level.description %> </div>
          <div class="clear-check-time etg-item">
            <p class="etg-item-title">Clear check time</p>
            <%= level.clear_time %>
          </div>
          <div class="attempts etg-item">
            <p class="etg-item-title">Attempts</p>
            <p class="fat-font">0/<%= level.attempts %></p>
          </div>
          <div class="level-code etg-item">
            <p class="etg-item-title">Course ID</p>
            <%= level.level_code %>
          </div>
        </div>
        <div class="expanded-bottom">
          <form action="/levels/cleared/<%= level.id %>" method="POST">
            <button class="eb-btn">Mark As Completed</button>
          </form>
          <!-- <div class="eb-btn eb-btn-disabled" id="mark-as-completed"></div> -->
          <div class="eb-btn" id="copy-to-clipboard">Copy To Clipboard</div>
        </div>
      </section>
    </div>
  <% } %>

<%- include('partials/foot')  %>
